body {
    margin: 0;
    background: #070b10;
    font-family: Arial;
    color: white;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
.left {
    width: 280px;
    padding: 20px;
    background: #0b1118;
    border-right: 1px solid #1a2a3a;
}

.title {
    color: #00ff88;
    font-weight: bold;
    margin-bottom: 15px;
}

/* DROPZONE */
.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px dashed #1f8f5f;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    color: #aaa;
}

.dropzone input {
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #0f1c2a;
    border: 1px solid #1f8f5f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #122636;
}

.info {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}

/* MAIN */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TOP BAR */
.top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #1a2a3a;
}

.logo {
    color: #00ff88;
    font-weight: bold;
}

.stats {
    color: #00ff88;
}

/* CANVAS AREA */
.canvasBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(#111 1px, transparent 1px),
        linear-gradient(90deg, #111 1px, transparent 1px);
    background-size: 25px 25px;
}

canvas {
    width: 500px;
    height: 500px;
    border: 1px solid #00ff88;
    background: black;
}

/* BOTTOM THUMBNAILS */
.bottom {
    height: 110px;
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
    border-top: 1px solid #1a2a3a;
}

.bottom img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #00ff88;
    border-radius: 6px;
}